@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap");

:root {
  --col: 16;
  --width: 496;
  --height: 496;
  --transition: all 1s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poetsen One";
}

body {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1f2f3;
}

.end-game {
  width: 180px;
  height: 120px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: #222;
}
.end-game-show {
  z-index: 1;
}

#play--again {
  margin-left: 0;
  margin-top: 10px;
  text-align: center;
}

.hud {
  width: var(--width);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.board {
  margin-top: 20px;
  display: grid;
  width: var(--width);
  height: var(--height);
  background: white;
  grid-template-columns: repeat(var(--col), 1fr);
  /* filter: blur(0px); */
  z-index: 1;
}

.tile {
  background: #f1f2f9;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 0.9rem;
  font-weight: 400;
  outline: 1px solid #9d9ea1;
}

.flag-icon {
  color: red;
}

.bomb-icon {
  color: #222;
}

.timer {
  display: flex;
  align-items: center;
}

select {
  width: 7rem;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgb(184, 211, 220);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  margin-right: 2.2rem;
}

.reset {
  width: 5rem;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgb(184, 211, 220);
  color: #222;
  border: none;
  border-radius: 5px;
  margin-left: 2rem;
  transition: var(--transition);
}

.reset:hover,
select:hover {
  background-color: rgb(139, 178, 190);
  cursor: pointer;
}

.reset:active {
  transform: scale(0.5);
}

.tile:hover {
  background: #c9cbce;
  cursor: pointer;
}

.n0[displayed="true"] {
  background: #dbdfe7;
}

.n1[displayed="true"] {
  color: blue;
}

.n2[displayed="true"] {
  color: green;
}

.n3[displayed="true"] {
  color: red;
}

.n4[displayed="true"] {
  color: darkblue;
}

.n5[displayed="true"] {
  color: blueviolet;
}

.n6[displayed="true"] {
  color: cadetblue;
}
